*{
    font-family: 'Raleway', sans-serif;
}

.nav-links{
    display: flex;
    justify-content: space-evenly;
    background-color: #4F5165;
    padding: 10px;
    border-radius: 15px;
    width: 95%;
    margin: 20px auto auto;
}

.nav-links li{
    list-style-type: none;
}

.nav-links a{
    color: #547AA5;
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
}

.nav-links a:hover{
    color: #50D8D7;
}

.nav-links a:is(:link, :active, :visited).active{
    color: #50D8D7;
}

.index{
    height: 100vh;
}

footer{
    padding-left: 20px;
}

.activityList li{
    list-style-type: none;
    border: 1px solid black;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
}

.activityList{
    padding: 0;
    width: 70%;
    margin: auto;
}

.activityList p{
    font-weight: 500;
}

.activityList h2{
    font-size: 18px;
    font-weight: 700;
}

.activityList span{
    font-weight: 700;
}

.activityCover img{
    width: 100%;
    opacity: 80%;
    border-radius: 15px;
}

.activityCover{
    width: 95%;
    margin: 30px auto 15px;
}

.headline h1{
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    color: #547AA5;
}

.nav-links li{
    border: 1px solid black;
    border-radius: 15px;
    padding: 10px 15px;
}
/*
color palette https://coolors.co/293132-474044-4f5165-547aa5-50d8d7
 */